# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/TP-laba1/FileContentIndex
/.vs/TP-laba1/v17/ipch/AutoPCH/393ef45c035a34a7
/.vs/TP-laba1/v17
/TP-laba1/Debug
/.vs
/TP-laba1/x64/Debug/Testing.tlog
/TP-laba1/x64/Debug
*.json
*.sln
